/* url("font/TanukiMagic.woff") format("woff"), */
@font-face {
  font-family: 'normal';
  src: url("../font/KFhimaji.otf") format("opentype"); }
/* line 6, ../sass/index.scss */
html {
  font-family: 'normal', meiryo, sans-serif; }

/* line 9, ../sass/index.scss */
a {
  color: #c8c8ff;
  text-decoration: none; }

/* line 13, ../sass/index.scss */
a:hover {
  text-decoration: underline; }

/* line 16, ../sass/index.scss */
ul {
  width: 70%;
  text-align: left;
  margin: 0 auto; }
/* line 20, ../sass/index.scss */
ul li {
  margin-bottom: 20px; }

/* line 24, ../sass/index.scss */
p {
  padding: 0% 10%;
  line-height: 150%; }

/* line 28, ../sass/index.scss */
h1, h2 {
  font-weight: normal; }

/* line 31, ../sass/index.scss */
.white {
  background-color: white;
  color: black; }

/* line 35, ../sass/index.scss */
.describe {
  text-align: left;
  font-size: 80%; }
