/* format("woff"), */
@font-face {
  font-family: 'normal';
  src:  url("../font/KFhimaji.otf") format("opentype");
}
html {
	overflow : hidden;
	font-family: 'normal', meiryo, sans-serif;
	margin : 0;
	padding : 0;
	body {
		text-align : center;
		h1 {
			font-weight : normal;
			margin : 3% 0%;
			padding: 0;
			font-size : 150%;
		}
		.pict {
			position : fixed;
			left : 0%;
			top : 20%;
			width : 50%;
			height : 80%;
			background-image : url(../img/self.png);
			background-repeat : no-repeat;
			background-size : contain;
			background-position : left bottom;
		}
		.pr {
			text-align : left;
			position : fixed;
			top : 15%;
			left : 45%;
			li {
				margin-bottom : 3%;
				a {
					text-decoration: none;
					color : inherit;
					transition-duration : 0.5s;
					display : inline-block;
					width: 100%;
				}
				a:hover {
					color : white;
					background-color : black;
				}
			}
		}
		.books {
			list-style : none;
			padding :0;
			margin : 0;
			position : fixed;
			top : 80%;
			left : 40%;
			li {
				display : inline-block;
				width : 12%;
				img {
					width : 100%;
				}
			}
		}
	}
}
